<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6b86a58f-c699-4bdc-bd59-c4ea1e93a086" name="DataDrivenDemo" xmlns:con="http://eviware.com/soapui/config"><con:settings id="b4672dcb-660e-4073-a944-9c892e2f918e"><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="6b86a58f-c699-4bdc-bd59-c4ea1e93a086fileName">DataDrivenDemo</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>